.correspondence {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.dialogMessages {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.friendMessages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.userMessages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}