.mainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.postsContainer {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
