.mainContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.postsContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}