.postsContainer {
    width: 550px;
    margin-top: -370px;
    margin-left: 140px;
    padding-left: 100px;
}
.posts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}