.postsContainer {
    max-width: 500px;
    width: 100%;
}

.posts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    background: none;
    border: none;
    margin: 5px 0 0 0;
    padding: 0;
    transition: all 0.4s ease;
}
