
.feedbackContainer p {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}

.feedbackContainer {
    padding: 5px 5px 5px 10px;
    display: flex;
    gap: 7px;
    align-items: center;
    border-top: 1px dotted black;
}
