.headerContainer {
    height: 70px;
    background-color: #3f4257;
    display: flex;
    align-items: center;
    color: white;
}

.headerContainer h3 {
    margin: 0 0 0 35px;
    text-transform: uppercase;
}