.headerContainer {
    z-index: 1;
    width: 1000px;
    position: fixed;
    height: 70px;
    background-color:#222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    border: 1px solid darkslategrey;
}

.headerContainer h3 {
    margin: 0 0 0 35px;
    text-transform: uppercase;
}
.loginBlock {
    margin-right: 30px;

}
.login {
    text-decoration: none;
    color: white;
}