.headerContainer {
    /*width: 100%;*/
    height: 50px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
}

.headerContainer h3 {
    margin: 0 0 0 15px;
    text-transform: uppercase;
}