.navbarContainer {
    width: 200px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item {
    text-decoration: none;
    color: black;
}

.active {
    /*color: darkblue;*/
    color: yellow;
}