.navbarContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.navItem {
    width: 200px;
    height: 40px;
}


.item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: all 0.4s ease;
}
.item:hover {
    background-color: lightcoral;
    font-size: 20px;
}

.active {
    background-color: lightcoral;
    color: white;
    font-size: 20px;
}