.item {
  border-radius: 10px;
  padding: 8px;
  width: fit-content;
  height: auto;
  background-color: lightgrey;
  border: 1px solid darkslategrey;
  color: black;
  display: flex;
  justify-content: flex-start;
}
