
.backgroundImage{
    width: 100%;
    border-radius: 10px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    position: relative;
    left: 30px;
    top: -120px;
}