.link {
  text-decoration: none;
  color: black;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(256, 256, 256, 0);
}

.active .user {
  border: 1px solid lightgrey;
  border-radius: 10px;
}
