.item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.item {
    color: black;
    border-radius: 30px 30px 20px 20px;
    border-top: 2px solid white;
    box-shadow: 1px 1px 3px black;
}

.feedbackContainer span {
    color: black;
    font-size: 14px;
}

.feedbackContainer {
    padding: 0 10px 10px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.info {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 1px dotted white;

}
.name {
    margin: 0;
    color: black;
}
.date {
    margin: 0;
    color: black;
    font-size: 13px;
}
.postMessage {
    padding: 10px;

}
.buttonLike {
    width: 40px;
    height: 20px;
    background-color: white;
    border: none;
    transition: all 0.4s ease;
    box-shadow: 1px 1px 3px black;
    border-radius: 30px;

}
.buttonLike:hover {
    width: 80px;
    background-color: lightcoral;
    color: white;
}
.buttonComm {
    width: 70px;
    height: 20px;
    background-color: white;
    border: none;
    transition: all 0.4s ease;
    border-radius: 30px;
    box-shadow: 1px 1px 3px black;
}
.buttonComm:hover {
    width: 140px;
    background-color: lightcoral;
    color: white;
}