.item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.item {
    color: black;
    border-radius: 30px;
    border-top: 2px solid white;
    /*border-bottom: 2px solid white;*/
}

.likesContainer span {
    color: black;
    font-size: 14px;
}

.likesContainer {
    padding-left: 10px;
    display: flex;
    gap: 10px;
}

.info {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 1px dotted white;

}
.name {
    margin: 0;
    color: black;
}
.date {
    margin: 0;
    color: black;
    font-size: 13px;
}
.postMessage {
    padding: 10px;

}
.buttonLike {
    width: 40px;
    height: 20px;
    background-color: white;
    border: none;
    transition: all 0.4s ease;
}
.buttonLike:hover {
    width: 80px;
    background-color: lightcoral;
    color: white;
}
.buttonComm {
    width: 70px;
    height: 20px;
    background-color: white;
    border: none;
    transition: all 0.4s ease;
}
.buttonComm:hover {
    width: 140px;
    background-color: lightcoral;
    color: white;
}