body {
    background-color: #e6ecf5;
}

.App {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    gap: 5px;
}

.contentContainer {
    background-color: deepskyblue;
    width: 1100px;
    margin: 0 auto;
    height: 700px;
}