body {
    background-color: #141414;
}

.App {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainContainer {
    display: flex;
    gap: 10px;
}

.contentContainer {
    background-color: #141414;
    border-radius: 10px;
    width: 100%;
    margin-left: 160px;
    margin-top: 80px;
}
.loginContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
