.App {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainContainer {
    display: flex;
    gap: 5px;
}

.contentContainer {
    background-color: deepskyblue;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}