.item {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  width: fit-content;
  height: auto;
  background-color: #393939;
  border: 1px solid darkslategrey;
  color: black;
  justify-content: flex-end;
}
