.item {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: #393939;
    border: 1px solid darkslategrey;
    color: rgb(210,210,210);
    justify-content: flex-end;
}