.dialogsContainer {
    display: flex;
    gap: 10px;
}

.dialogItems {
    padding: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #222222;
    border: 1px solid darkslategrey;
    border-radius: 10px;
}
.messageItems {
    background-color: #222222;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    /*margin: 10px;*/
    padding: 10px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}
