.dialogsContainer {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    gap: 10px;
}

.users {
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
}
.messageZone {
    display: flex;
    gap: 10px;
}
.messages {
    width: 30%;
}


.button {
    background: none;
    float: right;
}

.button img {
    width: 20px;
    height: 20px;
}
