.newMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.newMessage textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 91%;
    height: 20px;
    resize: none;
    outline: none;
    margin: 10px 0 5px 0;
    padding: 10px 35px 10px 10px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #141414;
    color: rgb(210,210,210);
}
.button {
    background: none;
    border: none;
    padding: 4px;
    margin: 0 10px 0px 10px;
    transition: all 0.4s ease;
    position: relative;
    bottom: 40px;
}
.button img {
    width: 20px;
    height: 20px;
}